<!DOCTYPE html>
<html>

<head>
    <title>CampWI</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Font Awesome 6 Core CSS -->
    <link rel="stylesheet" href="/css/css/fontawesome.css">
    <!-- Font Awesome 6 Solid Icons -->
    <link rel="stylesheet" href="/css/css/solid.css">
    <!-- Personal CSS File -->
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <!-- Code needed in case a user has an older browser and cannot view CSS landing page animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1>Welcome to CampWI <i class="fas fa-tree"></i></h1>
        <a class="btn btn-lg btn-link" href="/campgrounds"><i class="fas fa-compass"></i> Find Your Adventure!</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</body>

</html>